* {
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  visibility: visible !important;
  color: #000000;
  /* font-family: "Noto Sans TC", sans-serif; */
  /* font-family: SQMarket-Medium, SQMarket, "Helvetica Neue", "Helvetica", "Arial", */
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.gray-background {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
li {
  display: inline;
}

#logo {
  position: relative;
} */

.container-1 {
  height: auto;

  display: flex;
  margin-top: 0px;
  padding-top: 8px;
  height: auto;
}
.dropdown {
  height: auto;

  display: inline-block;
  overflow: none;
}
.dropdown-content {
  height: auto;
  color: #9ba0a3;
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 118px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  text-align: left;
  border-radius: 5px;
  transition: all 18s ease;
  z-index: 1;
}

.dropdown-content a {
  height: auto;

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.part-1 {
  display: flex;
  flex: 3.5;
  flex-direction: row-reverse;
  /* margin-left: 200px; */
  padding-top: 8px;
}

.part-2 {
  padding-left: 200px;
  padding-right: 200px;
}

.part-2 img {
  flex: 3;
  margin: auto;
  padding: 0;
}

.part-3 {
  display: flex;
  flex-direction: row;
  flex: 3.5;
  padding-top: 10px;
}

.container-1 li {
  height: auto;
  margin: 10px;
}

.heading {
  padding-top: 0px;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  max-width: 484px;
}

.heading h1 {
  text-align: center;
  justify-content: center;
  /* font-size: 32px;
  font-weight: 500;
  line-height: 40px; */
  color: #2f3337;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

.image {
  position: relative;
}

.image img {
  margin-left: 115px;
  margin-right: 115px;
  height: 500px;
  max-width: 100%;
  width: auto;
}

.image Button {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  min-width: 233px;
  padding: 8px 20px;
  border-radius: 4px;
  margin: 0 auto;
  border-width: 0;
  z-index: 10;
  cursor: pointer;
  border-color: #3374ff;
}

.intro {
  padding-top: 0px;
  margin-top: 69px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 69px;
}

.heading-2 h1 {
  text-align: center;
  justify-content: center;
  padding: 0 65px;
  /* font-size: 32px;
    font-weight: 500;
    line-height: 40px; */
  color: #2f3337;
  font-size: 32px;
  /* font-weight: 500; */
  line-height: 40px;
}

p {
  text-align: center;
  justify-content: center;
  line-height: 1.5em;
}

.intro-buttons {
  padding-top: 20px;
  padding-left: 80px;
}

.intro-buttons Button {
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  width: auto;
  padding: 8px 25px;
  border-radius: 4px;
  margin: 10px 55px 0px 30px;
  border-width: 0;
  cursor: pointer;
  border-color: #3374ff;
}

.intro-buttons a {
  color: #3374ff;
  font-weight: bold;
}

.banner img {
  margin: 0;
  width: 100%;
}

.content {
  position: relative;
}

.content h1 {
  padding-top: 0px;
  margin-top: 69px;
  margin-left: 450px;
  margin-right: 450px;
}

.svgs {
  margin-top: 80px;
  margin-bottom: 50px;
}

#svg1 {
  margin-left: 284px;
  margin-bottom: 8px;
}

#svg2 {
  margin-left: 50px;
}

#svg3 {
  margin-left: 50px;
}

#svg4 {
  margin-left: 50px;
}

#line {
  height: 1px;
  width: 100px;
  margin-left: 50px;
  margin-bottom: 35px;
}

.para {
  display: flex;
  width: 1100px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.para h3 {
  font-weight: 350;
}

.para p {
  font-weight: 150;
  font-size: 14px;
  line-height: 2em;
}

.para1 {
  flex: 3.5;
}

.para2 {
  flex: 4.5;
}

.para3 {
  flex: 4;
}

.para4 {
  flex: 4;
}

.links {
  display: flex;
  width: 1100px;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 95px;
}

.links a {
  color: #3374ff;
  font-weight: bold;
}

.link1 {
  flex: 3.5;
}

.link2 {
  flex: 4.5;
}

.link3 {
  flex: 4;
}

.link4 {
  flex: 4;
}

hr {
  width: 1100px;
  margin: auto;
  margin-bottom: 26px;
}

.heading-3 h1 {
  text-align: center;
  justify-content: center;
  padding: 0 65px;
  /* font-size: 32px;
      font-weight: 500;
      line-height: 40px; */
  color: #2f3337;
  font-size: 32px;
  /* font-weight: 500; */
  line-height: 40px;
}

.intro2 p {
  text-align: center;
  justify-content: center;
  margin: 5px 416px 0 416px;
  line-height: 1.5em;
}

.intro-buttons2 {
  padding-top: 20px;
  padding-left: 80px;
}

.intro-buttons2 button {
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  width: auto;
  padding: 8px 25px;
  border-radius: 4px;
  margin: 10px 55px 0px 540px;
  border-width: 0;
  cursor: pointer;
  border-color: #3374ff;
}

.intro-buttons2 a {
  color: #3374ff;
  font-weight: bold;
}

.intro2 {
  margin-bottom: 60px;
}

.image1 {
  width: 100%;
  height: auto;
  margin-bottom: -300px;
}

.image2 {
  margin: 0 auto;
  width: 995px;
  margin-left: 277px;
  margin-bottom: 75px;
}

.after-images {
  text-align: center;
}

.after-images h1 {
  margin-top: 20px;
  color: #2f3337;
}

.after-images h5 {
  color: #70767c;
}

.scroll {
  margin-top: 65px;
  padding-left: 300px;
  padding-right: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overflow: auto;
  margin-bottom: 60px;
  /* display: none; */
}

.scroll img {
  height: 497px;
  width: 908px;
}

.scroll a {
  color: #3374ff;
  font-weight: bold;
}

.scroll p {
  /* text-align: center;
  justify-content: center; */
  margin-left: 200px;
  margin-top: 5px;
  width: 500px;
  font-weight: 250;
}

.niche {
  margin-bottom: 25px;
}

.card {
  display: inline-block;
  padding-left: 15px;
}

.scroll a {
  margin-top: 5500px;
  font-size: 18px;
  text-align: center;
  padding-left: 400px;
}

.scroll::-webkit-scrollbar {
  width: 0 !important;
}

.end-line hr {
  width: 920px;
  margin-bottom: 90px;
}

.infoo {
  margin-top: 80px;
  margin-bottom: 65px;
}

.infoo h2 {
  color: #70767c;
  margin-left: 560px;
}

.infoo p {
  color: #1b2126;
  text-align: center;
  justify-content: center;
  margin: 5px 480px 0 480px;
  line-height: 1.5em;
}

.customers img {
  width: 100%;
  height: auto;
}

.above-footer {
  background-color: #f4f4f4;
  color: #2f3337;
}

.above-footer h2 {
  font-weight: 600;
  margin-top: 107px;
  margin-left: 550px;
}

.above-footer button {
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  width: 236px;
  padding: 8px 25px;
  border-radius: 4px;
  margin: 38px 55px 95px 645px;
  border-width: 0;
  cursor: pointer;
  border-color: #3374ff;
}

footer {
  background-color: #fff;
  display: flex;
  margin-top: 90px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}

.gridd {
  flex: 1;
}

footer li {
  cursor: pointer;
  margin-bottom: 8px;
  color: #323b44;
}

footer h3 {
  margin-bottom: 25px;
  color: #70767c;
}

.footer2 {
  display: flex;
  margin-left: 150px;
}

.footer2 p {
  flex: 1;
  margin-top: 6px;
}

.icons {
  flex: 4;
  margin-left: 315px;
}

.language {
  margin-right: 150px;
}

.icons img {
  margin: 0px 15px;
  width: 30px;
  height: auto;
}

.copy {
  color: #70767c;
  font-weight: 150;
  font-size: 12px;
}
