* {
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  visibility: visible !important;
  color: #000000;
  /* font-family: "Noto Sans TC", sans-serif; */
  /* font-family: SQMarket-Medium, SQMarket, "Helvetica Neue", "Helvetica", "Arial", */
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.gray-background {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
li {
  display: inline;
}

#logo {
  position: relative;
} */

.container-1 {
  display: flex;
  margin-top: 0px;
  padding-top: 8px;
}

.part-1 {
  display: flex;
  flex: 3.5;
  flex-direction: row-reverse;
  /* margin-left: 200px; */
  padding-top: 8px;
}

.part-2 {
  padding-left: 200px;
  padding-right: 200px;
}

.part-2 img {
  flex: 3;
  margin: auto;
  padding: 0;
}

.part-3 {
  display: flex;
  flex-direction: row;
  flex: 3.5;
  padding-top: 10px;
}

.container-1 li {
  margin: 10px;
}

.heading {
  padding-top: 0px;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  max-width: 484px;
}

.heading h1 {
  text-align: center;
  justify-content: center;
  /* font-size: 32px;
  font-weight: 500;
  line-height: 40px; */
  color: #2f3337;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

.image {
  position: relative;
}

.image img {
  margin-left: 115px;
  margin-right: 115px;
  height: 500px;
  max-width: 100%;
  width: auto;
}

.image Button {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  min-width: 233px;
  padding: 8px 20px;
  border-radius: 4px;
  margin: 0 auto;
  border-width: 0;
  z-index: 10;
  cursor: pointer;
  border-color: #3374ff;
}

.intro {
  padding-top: 0px;
  margin-top: 69px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 69px;
}

.heading-2 h1 {
  text-align: center;
  justify-content: center;
  padding: 0 65px;
  /* font-size: 32px;
    font-weight: 500;
    line-height: 40px; */
  color: #2f3337;
  font-size: 32px;
  /* font-weight: 500; */
  line-height: 40px;
}

p {
  text-align: center;
  justify-content: center;
  line-height: 1.5em;
}

.intro-buttons {
  padding-top: 20px;
  padding-left: 80px;
}

.intro-buttons Button {
  font-size: 16px;
  color: #fff;
  background-color: #3374ff;
  width: auto;
  padding: 8px 25px;
  border-radius: 4px;
  margin: 10px 55px 0px 30px;
  border-width: 0;
  cursor: pointer;
  border-color: #3374ff;
}

.intro-buttons a {
  color: #3374ff;
  font-weight: bold;
}

.banner img {
  margin: 0;
  width: 100%;
}
